.productList_page {
    background: #E9ECEE;
    padding-top: 30px;
    font-size: 14px;
}
.category_nav {
    background: #FFF;
}

input.is-invalid { border: 1px solid red; }
.warning-msg {
    margin-top: 5px;
    color: red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cart-head h2 {
    color: #FFF;
    font: 500 16px/24px 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0px;
}

.tot-item {
    text-align: center;
}

.empty-cart {
    text-align: center;
    padding: 20px;
}

.grey-text {
    color: #000;
    font-size: 12px;
}

.subTotal_table {
    padding: 15px;
}


/**** Copy of Swiggy ****/


._1rwo5 {
    position: relative;
    margin-left: 25px;
    background: #fff;
    margin-bottom: 20px;
    padding: 35px 40px 39px;
}

.F8Sye {
    font-size: 32px;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.vt2tt {
    margin-top: -30px;
}

._2axtv {
    color: #7e808c;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
}

._1W4Wt {
    position: absolute;
    right: 40px;
    top: 35px;
}

._1HQdx {
    display: -ms-flexbox;
    display: flex;
    margin-top: 36px;
}

.C6mS- {
    border: 1px solid #60b246;
    color: #60b246;
    margin-right: 20px;
}

.y9pNN {
    text-align: center;
    padding: 8px 35px 9px;
    line-height: 1.2;
    cursor: pointer;
}

._2eTQn {
    font-size: 13px;
}

.POo4b {
    font-weight: 600;
    font-size: 14px;
}

.y9pNN {
    text-align: center;
    padding: 8px 35px 9px;
    line-height: 1.2;
    cursor: pointer;
}

._2eTQn {
    font-size: 13px;
}

.POo4b {
    font-weight: 600;
    font-size: 14px;
}

.OsNTr {
    background-color: #60b246;
    color: #fff;
}

._2b4pY {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #282c3f;
    box-shadow: 0 3px 5px 0 rgba(40,44,63,.4);
    top: 34px;
    left: -30px;
}

._1q8J4 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**** Login Form ****/
._3yxHL {
    width: 350px;
    padding-top: 29px;
}

._31HMG {
    margin-bottom: 17px;
    margin-top: 5px;
}

.NA16F {
    display: inline-block;
    font-weight: 500;
    color: #7e808c;
}

._2uH-f {
    color: #fc8019 !important;
    cursor: pointer;
    font-weight: 500;
}

._3lG1r:last-child {
    border-bottom: 1px solid #d4d5d9!important;
}
._3Um38 {
    border: 1px solid #d4d5d9;
    padding: 0;
    display: block;
    position: relative;
    transform: translateZ(0);
}
._381fS {
    background-color: transparent;
    line-height: normal;
    border: none;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
    padding-top: 22px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}
._2EeI1 {
    position: absolute;
    right: 20px;
    bottom: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #5d8ed5;
    transform: translateZ(0);
    cursor: pointer;
    will-change: transform;
    transition: .2s ease;
}
._2tL9P {
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}
._1Cvlf {
    position: absolute;
    left: 0;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 17px;
    cursor: text;
    transition: .2s ease;
    width: 100%;
    color: #93959f;
    will-change: transform,color,font-size;
    pointer-events: none;
    font-weight: 400;
}
._26LFr {
    -ms-transform: translateY(70%);
    transform: translateY(70%);
}
._2tL9P {
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}
._25qBi {
    position: relative;
    clear: both;
}
._2-hTu {
    clear: both;
    margin-top: 20px;
}
._2REYC {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 2rem;
    color: #60b246;
    letter-spacing: 0;
    color: #fff !important;
    background-color: #60b246;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}

._1FvHn {
    font-size: 12px;
    color: #7e808c;
    margin-top: 6px;
    font-weight: 500;
}

._3Frck {
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    margin-top: 6px;
    line-height: 1.12;
    font-size: 18px;
    color: #282c3f;
}

.QgO5l {
    text-transform: capitalize;
}

.QgO5l:after {
    content: "|";
    padding: 0 8px;
}

/*** Delivery Address ***/
.-brc1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

._2nd-- {
    position: relative;
    width: 324px;
    margin: 0 25px 25px 0;
    cursor: pointer;
}

._3p8Mf {
    padding: 23px 30px 29px 57px;
    border: 1px solid #e9e9eb;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
}

.WtfuC {
    position: absolute;
    top: 26px;
    left: 30px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 18px;
    color: #3d4152;
}

.KYAcN {
    font-size: 13px;
    color: #93959f;
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 16px;
    height: 64px;
    overflow: hidden;
}

._3w1k- {
    font-size: 13px;
    color: #282c3f;
    font-weight: 500;
    margin: 10px 0 17px;
}

._3dNWs {
    padding: 9px 0;
    color: #fff;
    text-transform: uppercase;
    background: #60b246;
    border: 0;
    cursor: pointer;
    width: 130px;
    height: 34px;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    letter-spacing: .3px;
    position: relative;
}

/*** Payment Option ***/
._1rwo5:last-child {
    margin-bottom: 0;
}

._1rwo5 {
    position: relative;
    margin-left: 25px;
    background: #fff;
    margin-bottom: 20px;
    padding: 35px 40px 39px;
}

._1rtRz, .F8Sye {
    letter-spacing: -.3px;
}

.F8Sye {
    font-size: 32px;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

._2YrH- {
    margin-right: 25px;
}

._2gmRl {
    display: -ms-flexbox;
    display: flex;
    min-height: 70vh;
}
._2YnKK {
    min-width: 230px;
    background: #edf1f7;
    max-width: 245px;
}
.mqkMo {
    padding: 20px 0 15px 15px;
}
._1o1_e {
    background: #fff;
}

._3zAnR {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    position: relative;
    cursor: pointer;
}
._3O9Zy {
    color: #282c3f;
}
.icon-paybycash:before {
    content: "\E908";
}
._1LWfN {
    font-weight: 600;
    color: #282c3f;
    font-size: 18px;
}
._29prC {
    display: inline-block;
    color: #686b78;
    font-weight: 500;
    font-size: 16px;
    transition: color .25s ease-in-out;
    padding-right: 15px;
}
._2Zw1I {
    background: #fff;
    -ms-flex: 1;
    flex: 1;
}
._2Jwky {
    padding-left: 40px;
    margin-bottom: 40px;
}
._2_G0K {
    max-width: 318px;
}
._1ISkC {
    margin-bottom: 42px;
    margin-top: 40px;
}
._1fMbb {
    line-height: 1.4;
    opacity: .8;
    margin-top: 0!important;
    margin-bottom: 20px!important;
    font-weight: 600;
    color: #282c3f;
}
._2QlY5 {
    color: #282c3f;
    font-weight: 500;
    font-size: 17px;
}
._23V-r {
    font-size: 13px;
    margin-top: 2px;
    color: #7e808c;
    font-weight: 300;
    line-height: 18px;
}

element.style {
}
._2vnDb {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
._2ZJ0s {
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 16px;
    background: #60b246;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    cursor: pointer;
    min-width: 142px;
}
._3O9Zy {
    color: #282c3f;
}

._2CoZb {
    color: #686b78;
    font-size: 17px;
    margin: 0 15px;
}
.icon-paybycash:before {
    content: "\E908";
}
._1LWfN {
    font-weight: 600;
    color: #282c3f;
    font-size: 18px;
}
.alert-success {
    color: green;
    font-weight: bold;
}
.alert-danger {
    color: red;
    font-weight: bold;
}