.no-item h5 {
    text-align: center;
    text-transform: uppercase;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cart-head h2 {
    color: #FFF;
    font: 500 16px/24px 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0px;
}

.tot-item {
    /* text-align: center; */
}

.empty-cart {
    text-align: center;
    padding: 20px;
}

.grey-text {
    color: #000;
    font-size: 12px;
}

.subTotal_table {
    padding: 15px;
}