<!--Start Header-->
<header> 
  <div class="sonar-wrapper">
      <div id="particles-js"></div>
      <div class="sound-wave" id="loader">
          <div class="loader-circle"></div>
      </div>
  </div>
  <!-- Loader Animation -->
  <div class="navbar_wrap">
      <nav id="nav_bg">
          <div class="navbar_nav">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-md-3">
                          <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png"></a>
                      </div>
                      <div class="col-md-9">
                          <div class="navbar_right">
                              <ul class="nav">
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">Home
                                          <span class="link__layer" data-text="Home"></span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">About us
                                          <span class="link__layer" data-text="About us"></span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">Services
                                          <span class="link__layer" data-text="Services"></span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">Contact
                                          <span class="link__layer" data-text="Contact"></span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">terms
                                          <span class="link__layer" data-text="Terms"></span>
                                      </a>
                                  </li>
                              </ul>
                              <div class="navToggle_btn">
                                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                      <label class="btn btn-link active">
                                          <input type="radio" name="options" id="option1" checked> Login
                                      </label>
                                      <label class="btn btn-link">
                                          <input type="radio" name="options" id="option2"> Sign Up
                                      </label>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>  
          </div>
      </nav> 
      <!-- ! Tab Menu ! -->
      <div class="mobile_menu">
          <div id="nav_media">
              <div class="container">
                  <div class="media">
                      <div class="slide_menu align-self-center">
                          <span class="nav_icon" id="sidebarCollapse"><i class="fa fa-bars"></i></span>
                      </div>
                      <div class="w-100 text-center">
                          <a routerLink="/" class="navbar-brand"><img src="assets/img/logo.png"></a>
                      </div>
                  </div>
              </div> 
          </div>
          <nav id="sidebar" class="sidenav">
              <div class="nav_side_menu">
                  <div class="menu_list">                            
                      <ul class="list-unstyled">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About us</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">terms</a></li>
                      </ul>
                  </div>
                  <div class="navToggle_btn">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-link active">
                              <input type="radio" name="options" id="option1" checked> Login
                          </label>
                          <label class="btn btn-link">
                              <input type="radio" name="options" id="option2"> Sign Up
                          </label>
                      </div>
                  </div>
              </div>
          </nav>
          <div class="overlay"></div>
      </div>
      <!-- ! Tab Menu ! -->    
  </div>            
</header>
<!-- End Header -->