<footer>
  <div class="footer_cont">
      <div class="container">
          <ul class="list-inline clearfix">
              <li class="list-inline-item"><a href="https://www.facebook.com/thehomecookemeals/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/THomecooked" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCB_auHjb4C_GHe9NvqGsYyg" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          </ul>
      </div>
  </div>
  <section class="top_btn">
      <a class="scrollToTop" href="javascript:void(0)" style="display: block;"> <span class="lnr lnr-arrow-up"></span> </a>
  </section>
</footer>